body {
    font-family: sans-serif;
}
.operation-table table {
  border-collapse: collapse;
}
.operation-table td {
  border: 0px solid transparent;
  background-clip: padding-box;
}
.operation-table  tr > td + td {
  border-left-width: 15px;
}
.operation {
    background-color: #3fa61c;
    font: 1.2;
    border-radius:6px;
}
.endpoint {
    background-color: #1d2126;
    font: 1.2rem Inconsolata, monospace;
    color: white;
    border-radius:6px;
}
.description {
    padding-left: 50px;
}

table {
    border-collapse: collapse;
}
td {
    border: 1px solid transparent;
    background-clip: padding-box;
}
tr > td + td{
    border-left-width: 20px;
}